.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
  margin: 0 15px;
}

.custom-carousel .carousel-control-prev:hover,
.custom-carousel .carousel-control-next:hover {
  opacity: 1;
  background-color: rgba(171, 171, 171, 0.8);
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
}
